#titulo{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 10px;
}

h1{
  margin-bottom: 10px;
}

.agregar{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 35px;
  margin-top: 15px;
}

.panel-heading{
  font-size: 30px;
}

#tabla{
  width: 100%;
  text-align: center;
}

.none{
  width: 100%;
  display: inline-flex;
  justify-content: center;
}
