*{
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-family: 'Quicksand', sans-serif;
}

h1{
  margin-left: 40px;
  margin-bottom: 40px;
  margin-right: 40px;
  margin-top: 20px;
}

#navbarDropdown{
  color: grey;
  margin-left: 15px;
}

main{
  height: 100%;
}

body{
  background-color: whitesmoke;
  height: 100%;
}

.regServ{
  width: 100%;
  text-align: center;
}

.titulo{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-content: center;
}

.formulario{
  width: 15%;
}

#buttons{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.log{
  width: 30%;
  color: grey;
}
